/* .overlay {

    position: fixed;
    width: 100%;
    height: 100%;
} */

.modalContainer {
    max-width: 500px;
    height: auto;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex; */
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    /* justify-content: center; */
    background-image: url('../../../public/logo/eclaboussure-abstraite-peinture-violette_23-2147809147.jpg');
    background-size: cover;
    z-index:100;
  background-color: rgba(0, 0, 0, 0.7);

}
.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.VioletCred {
  color: #5C2D9A;
}